:root {
  margin: 0;
}

body {
  background-color: #ddd;
}
 

.main {
  background-color: #f2f2f2;
  margin: 0;
  width: 100%;
  position: relative;
}
.language {
  position: fixed !important;
  bottom: 25px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon .flag{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .language {
    bottom: 10px;
    right: 10px;
    flex-direction: column;
  }
  .icon{
    height: 10px !important;
    width: 10px !important;
    right: 9px;
  }

 
}
