.footer{
    /* background-color: #223B82 !important; */
    background-color: #f2f2f2 !important;
   /*  position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 999999;
    border-top: solid #223B82 6px;
  }

  
  .footer span{
   /*  color: white !important; */
    color: #223B82 !important;
    text-decoration: none;
    font-size: 1rem;

  }

  @media screen and (max-width: 600px) {
    .footer span{
      font-size: 0.8rem;
    }
  }