


.mapcontainer {
    width: 100vw;
    height: 80vh;
    margin-left: calc(50% - (100% / 2));
    margin-bottom: 0;
    margin-top: 50px;

}
.information{
    width: 50vw;
    margin-left: 30rem;
}
@media screen and (max-width: 1200px) {
    .mapcontainer {
        width: 100vw;
        height: 40vh;
        margin-top: 50px;
        margin-left: calc(40% - (100% / 2));
        margin-bottom:  30% ;
    }
    .information{
        width: 90vw;
        margin: 2rem;
    }
}
@media screen and (max-width: 912px) {
    .mapcontainer {
        width: 100vw;
        height: 40vh;
        margin-top: 50px;
        margin-left: calc(30% - (100% / 2));
        margin-bottom:  55% ;
    }
    .information{
        width: 90vw;
        margin: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .mapcontainer {
        width: 100vw;
        height: 40vh;
        margin-top: 50px;
        margin-left: calc(50% - (100% / 2));
        margin-bottom:  100% ;
    }
    .information{
        width: 90vw;
        margin: 2rem;
    }
}