


.container {
    width: 100vw;
    height: 80vh;
    margin-left: -100px;
    margin-bottom: 5rem;

}
.information{
    width: 50vw;
    margin-left: 30rem;
}
@media screen and (max-width: 600px) {
    .container {
        width: 100vw;
        height: 28vh;
        margin-left: -20px;
        margin-bottom: 24rem;
    }
    .information{
        width: 90vw;
        margin: 2rem;
    }
}